__pycache__/
MyPythonLibs/
QControl/

*.npy
TimeTagger/documentation
TimeTagger/examples

SLM/MaskFiles/*.mat
SLM/MaskFiles/*/.gitkeep

SLM/MaskFiles/*/
SLM/MaskProperties/*
!SLM/MaskProperties/.gitkeep
SLM/CustomLutFiles/*
!SLM/CustomLutFiles/.gitkeep


DeformableMirror/ActuatorValues/*
!DeformableMirror/ActuatorValues/.gitkeep


Camera/CameraSoftware/NiTcamera/SN220692
Camera/CameraSoftware/Xenics/Calibrations/*
!Camera/CameraSoftware/Xenics/Calibrations/.gitkeep


